<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="NUMS_ADO" connectionString="Database=CSFS_SIT;Data Source=172.24.17.52,1803;User Id=csfs_usr;Password=csfs_usr#1;"/>
  </connectionStrings>
  <appSettings>
    <add key="LogPath" value="D:\CTBC.CSFS.Batch\CTCB.NUMS.ScheduleService\log\CTCB.NUMS.ScheduleService.log"/>
    <add key="Interval" value="60000"/>
    <add key="Sleep" value="5000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
