<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!--訊息格式 EX: 2016-03-01 18:15:59,912 [10] INFO  Log4netTest.Program - 9-->
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--檔名設定為example.log-->
      <param name="File" value="//Log"/>
      <file value="example.log"/>
      <!--<file value="Log\"/>-->
      <appendToFile value="true"/>
      <!--檔案最大容量-->
      <maximumFileSize value="100KB"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--印出 日期 Thread編號 層級 Logger名稱 訊息-->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!--Level為INFO的Log才會寫出-->
      <level value="INFO"/>
      <!--印到Console上-->
      <appender-ref ref="ConsoleAppender"/>
      <!--寫出至檔案-->
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>

  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803\MSSQLSERVER2014;initial catalog=CSFS_UAT;user id=csfs_usr;password=csfs_usr#1;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- 以下是HGT的參數, ldap & racf 的帳戶密碼, 未來要改成讀參數檔-->
    <add key="HTGUrl" value="http://192.168.38.139:80/WS_HG/HgXmlRequestHandler"/>
    <add key="HTGApplication" value="CSFS"/>
    <add key="Mail_FromName" value="10.23.84.180"/>
    <add key="Mail_EmailPort" value="25"/>
    <add key="mailFrom" value="CSFS@ctbcbank.com"/>
    <!--<add key="mailTo" value="joanna.pan@ctbcbank.com,shinyu.yang@ctbcbank.com" />-->
    <add key="mailTo" value="hunghsiang.chang@ctbcbank.com"/>
    <add key="mailHost" value="10.23.85.157"/>

    <!-- 以上是HGT的參數-->
  </appSettings>
</configuration>
