<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803\MSSQLSERVER2014;initial catalog=CSFS_UAT;user id=csfs_usr;password=csfs_usr#1;" providerName="System.Data.SqlClient" />
    <!--<add name="CSFS_ADO" connectionString="data source=127.0.0.1;initial catalog=CSFS;user id=sa;password=PA$$word;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ServerUrl" value="172.24.11.59" />
    <add key="ServerPort" value="17222" />
    <add key="UserName" value="csfssit01" />
    <add key="Password" value="csfssit0159" />
    <add key="ESBSendQueueName" value="CTCB.ESB.SIT.Public.Service.Request.C01.CH1" />
    <add key="ESBReceiveQueueName" value="CTCB.ESB.SIT.Public.Service.Reply.CSFS" />
    <add key="ServerPortStandBy" value="17222" />
    <add key="SourceID" value="CSFS" />
    <add key="ns2UserId" value="99605" />
    <add key="ns2Password" value="1111" />
    <add key="TerminalId" value="555" />
    <add key="UserBranchId" value="0992" />
    <add key="m_nInterval" value="120000" />
    <add key="TestLog" value="D:\TestLog\" />
    <add key="IsnotTest" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- 以下是HGT的參數, ldap & racf 的帳戶密碼, 未來要改成讀參數檔-->
    <add key="HTGUrl" value="http://192.168.38.139:80/WS_HG/HgXmlRequestHandler"/>
    <add key="HTGApplication" value="CSFS"/>
    <!--<add key="userId" value="Z00004771"/>
    <add key="passWord" value="Z00004771"/>
    <add key="branchNo" value="0495"/>
    <add key="racfId" value="Z04771"/>
    <add key="racfPassWord" value="6yhn7ujm"/>-->
    <!-- 以上是HGT的參數-->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>