<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LDAPServer" value="192.168.31.40"/>
    <add key="LDAPPort" value="389"/>
    <add key="APDN" value="ou=CSFS,ou=APPs,o=CTCB"/>
    <add key="APID" value="CSFS"/>
    <add key="APPwd" value="CSFS0424"/>    
    <add key="CreatedUser" value="LDAPDataImportBatch"/>
    <!--中國信託/人事帳號/中國信託金融控股(股)公司/中國信託商業銀行(股)公司/銀行董事會/銀行董事長-->
    <add key="LDAPRoot" value="ou=U00021933,ou=U00021932,ou=U00021931,ou=U00021800,ou=HRIS,o=CTCB"/>
    
    <!--以下為台灣區個金事業總處-->
    <!--<add key="LDAPRoot" value="ou=M00022311,ou=U00021934,ou=U00021933,ou=U00021932,ou=U00021931,ou=U00021800,ou=HRIS,o=CTCB"/>-->    
    
    <add key="SearchUserFilter" value="cn=*"/>
    <add key="SearchMgrFilter" value="cn=*"/>
    <add key="SearchOrgFilter" value="cn=*"/>
    <add key="SearchBranch" value="2#分行"/>
    <!--Log儲存路徑-->
    <add key="LogPath" value="D:\CTBC.CSFS.Batch\LDAPDataImport\log\"/>
    <!--發送Email設定-->
    <add key="MailFromDisplayName" value="中國信託新外來文系統(CSFS) SIT"/>
    <!--必填-->
    <add key="MailFrom" value="csfs@ctbcbank.com"/>
    <add key="MailSubject" value="LDAP資料匯入批次執行狀況"/>
    <!--至少需填一位收件者email,用逗號隔開,最後一位收件者結尾不加逗號-->
    <add key="MailToWho" value="horace.lin@ctbcbank.com"/>
    <add key="SMTPServer" value="10.23.85.157"/>
  </appSettings>
  <connectionStrings>
    <add name="NUMS_ADO" connectionString="Data Source=172.24.17.52,1803;Initial Catalog=CSFS_SIT;User ID=csfs_usr;Password=csfs_usr#1" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
