<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <!--<add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803\MSSQLSERVER2014;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;" providerName="System.Data.SqlClient"/>
    <add name="CSFS_ADO" connectionString="data source=127.0.0.1;initial catalog=CSFS;user id=sa;password=PA$$word;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="m_nInterval" value="120"/>

    <!--每日夜間停止發查期間(24小時制), 不可以跨日設定, 只能在同一天中  (20181212)-->
    <add key="StopServiceFrom" value="01:00:00"/>
    <add key="StopServiceTo" value="05:00:00"/>

    <!--  設定路徑，以啟動發查程序 -->
    <add key="AutoSeizureEXE" value="D:\Wistron\CSFS\CTBC.WinExe.ExcuteESB\bin\Debug\ExcuteHTG.exe"/>
  </appSettings>
</configuration>
