<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="Data Source=172.24.17.52,1803;Initial Catalog=CSFS_UAT;User ID=csfs_usr;Password=csfs_usr#1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="HTGUrl" value="http://192.168.38.139:80/WS_HG/HgXmlRequestHandler"/>
    <add key="HTGApplication" value="CSFS"/>
    <add key="filelog" value=".\Log"/>
  </appSettings>  
</configuration>
