<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <!--<add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_UAT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>-->
    <add name="CSFS_ADO" connectionString="data source=.;initial catalog=CSFS;user id=sa;password=Adam520508;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <!--ErrorLog放置路徑-->
    <add key="fileLog" value=".\Log"/>
    
    <!--產出EXCEL放置路徑-->
    <add key="txtFilePath" value="D:\Source\CSFS\History\Excel"/>

    <!--產出EXCEL ZIP路徑-->
    <add key="txtZipPath" value="D:\Source\CSFS\History\Excel\Temp"/>
    
    <!--產出PDF放置路徑-->
    <add key="pdfFilePath" value="D:\Source\CSFS\History\PDF"/>

    <!--產出PDF ZIP路徑-->
    <add key="pdfZipPath" value="D:\Source\CSFS\History\PDF\Temp"/>

    <!--本機的發文機關設定-->
    <add key="GovName" value="中國信託商業銀行股份有限公司"/>
    <add key="GovCode" value="EB03077208"/>
  </appSettings>
</configuration>
