<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="Data Source=1300585-NB\SQL2014;initial catalog=CSFS;user id=sa;password=Adam520508;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="filelog" value="D:\FTP\Log\" />
    <!--FTP設置-->
    <add key="ftpserver" value="192.168.43.84" />
    <add key="port" value="21" />
    <add key="username" value="anonymous" />
    <add key="password" value="Adam520508" />
    <add key="ftpdir" value="CSFSFTP/" />
    <add key="LoaclFilePath" value="D:\ftp\old" />
    <!--<add key="ftpserver" value="172.24.15.19"/>
    <add key="port" value=""/>
    <add key="username" value="AP_CSFS_GET"/>
    <add key="password" value="px6yc8mf"/>-->
    <!--<add key="ftpdir" value="/aptoap/CSFS/IEDoc"/>-->
    <!--<add key="loaclFilePath" value="D:\Source\CSFS\CSFS-U\CTBC.WinExe.ImportEDoc\File\"/>-->
    <add key="fileTypes" value="txt,di,pdf,sw" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>