<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>
     <!--<add name="CSFS_ADO" connectionString="data source=.;initial catalog=CSFS;user id=sa;password=Adam520508;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!--隊列有關設定-->
    <!-- for UAT envirnment
    <add key="ServerUrl" value="172.24.17.43"/>
    <add key="ServerPort" value="27223"/>
    <add key="UserName" value="csfsuat01"/>
    <add key="Password" value="csfsuat0160"/>
    <add key="ServerPortStandBy" value="27223"/>
    <add key="ESBSendQueueName" value="CTCB.ESB.UAT.Public.Service.Request.C01.CH1"/>
    <add key="ESBReceiveQueueName" value="CTCB.ESB.UAT.Public.Service.Reply.CSFS"/>
    -->
    <!-- for SIT envirnment -->
    <add key="ServerUrl" value="172.24.17.42"/>
    <add key="ServerPort" value="17222"/>
    <add key="UserName" value="csfssit01"/>
    <add key="Password" value="csfssit0159"/>
    <add key="ServerPortStandBy" value="17222"/>
    <add key="ESBSendQueueName" value="CTCB.ESB.SIT.Public.Service.Request.C01.CH1"/>
    <add key="ESBReceiveQueueName" value="CTCB.ESB.SIT.Public.Service.Reply.CSFS"/>

    <!-- Not used
    <add key="ns2UserId" value="02768"/>
    <add key="ns2Password" value="1111"/>
    <add key="TerminalId" value="10"/>
    <add key="UserBranchId" value="0495"/>
    -->

    <add key="SourceID" value="CSFS"/>

    <!--測試用，客戶需改為0-->
    <add key="IsnotTest" value="0"/>
  </appSettings>

</configuration>