<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="filelog" value=".\Log"/>

    <!--********************************************************************-->
    <!--收文FTP-->
    <add key="reciveftpserver" value="172.24.15.19"/>
    <add key="reciveport" value=""/>
    <add key="reciveusername" value="CX_CSFS02"/>
    <add key="recivepassword" value="tq3cm8we"/>

    <!--收文目錄-->
    <add key="reciveftpdir" value="/aptoap/CSFS/Enforce_send/"/>
    <add key="reciveloaclFilePath" value=".\Enforce_send"/>

    <!--發文FTP-->
    <add key="sendftpserver" value="172.24.15.19"/>
    <add key="sendport" value=""/>
    <add key="sendusername" value="CX_CSFS01"/>
    <add key="sendpassword" value="gf7jn2ei"/>

    <!--發文目錄-->
    <add key="sendftpdir" value="/aptoap/CSFS/Enforce_recv/"/>
    <add key="sendloaclFilePath" value=".\Enforce_recv"/>


  </appSettings>
</configuration>
