<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--LOCAL REDIS-->
    <!--<add key="RedisConnectionString" value="5ZTd4U7J/NI5JnmbCmsimg==" />-->

    <!--SIT REDIS-->
    <!--<add key="RedisConnectionString" value="qndRf6ukX+28OhAzLMgMY88GYz/1k+Y9ku1RD7AmNv6BhvWks29evZ/JKEu6ZBjw"/>-->
    
    <!--UAT REDIS-->
    <add key="RedisConnectionString" value="Vgv+xRolcvnKU6prGYBHMcy8q8oYPe6NLS74D/Y5JJnHSVNTJoEt/LK4kW6T/n+d"/>

    <add key="CleanDataBefore" value="5" />
    
  </appSettings>
</configuration>