<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="Data Source=172.24.17.52,1803;Initial Catalog=CSFS_UAT;User ID=csfs_usr;Password=csfs_usr#1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="filelog" value="D:\Source\CSFS\CSFS-U(上版)\CTBC.WinExe.SendEDoc\Log\"/>
    <add key="loaclFilePath" value="D:\Source\CSFS\CSFS-U(上版)\CTBC.WinExe.SendEDoc\File\"/>
    <!--20160909 宏祥 增加寫入BackupFolder-->
    <add key="loaclFileBackupPath" value="D:\Source\CSFS\CSFS-U(上版)\CTBC.WinExe.SendEDoc\FileBackup\"/>
    <add key="reportPath" value=""/>
    <!--本機的發文機關設定-->
    <add key="GovName" value="中國信託商業銀行股份有限公司"/>
    <add key="GovCode" value="EB03077208"/>
  </appSettings>
</configuration>
