<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <!--<add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_UAT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>-->
    <add name="CSFS_ADO" connectionString="data source=.;initial catalog=CSFS_BACKUP;user id=sa;password=Adam520508;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--ErrorLog放置路徑-->
    <add key="fileLog" value=".\Log" />
    <!--產出EXCEL放置路徑-->
    <add key="txtFilePath" value="C:\CSFS\History_New\NewExcel" />
    <!--產出EXCEL ZIP路徑-->
    <add key="txtZipPath" value="C:\CSFS\History_New\NewExcel\Temp" />
    <!--產出PDF放置路徑-->
    <add key="pdfFilePath" value="C:\CSFS\History_New\NewPDF" />
    <!--產出PDF ZIP路徑-->
    <add key="pdfZipPath" value="C:\CSFS\History_New\NewPDF\Temp" />
    <!--2021/10/29 Retry Times-->
    <add key="iRetry" value="3" />
    <!--2021/10/29 Sleep 分-->
    <add key="iSleep" value="1" />
    <!--2021/10/29 Tasks-->
    <add key="Check81019" value="Y" />
    <add key="WaitTimeForTest" value="3" />
    <add key="iTask" value="5" />
    <!--產出PDF ZIP路徑-->
    <!--本機的發文機關設定-->
    <add key="GovName" value="中國信託商業銀行股份有限公司" />
    <add key="GovCode" value="EB03077208" />
    <add key="ExeFile" value="CTBC.WinExe.CSFS.NewHistoryFile" />
    <add key="subject" value="外來文系統歷史交易產檔" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Mail_FromName" value="10.23.84.180" />
    <add key="Mail_EmailPort" value="25" />
    <add key="mailFrom" value="CSFS@ctbcbank.com" />
    <!--<add key="mailTo" value="joanna.pan@ctbcbank.com,shinyu.yang@ctbcbank.com" />-->
    <add key="mailTo" value="hunghsiang.chang@ctbcbank.com" />
    <add key="mailHost" value="10.23.85.157" />
  </appSettings>
</configuration>