<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="filelog" value=".\Log"/>
    <!--********************************************************************-->
    <!--收文FTP-->
    <add key="ftpserver" value="172.24.15.19"/>
    <add key="port" value="21"/>
    <add key="username" value="AP_CSFS_GET"/>
    <add key="password" value="px6yc8mf"/>


    <!--收文路徑-->
    <add key="ftpdir" value="/aptoap/fromcssa/"/>

    <!--本地路徑-->
    <add key="localFilePath" value="\File\"/>

    <!--********************************************************************-->

  </appSettings>
</configuration>