<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="filelog" value="D:\Source\CSFS\CSFS-U\CTBC.WinExe.FTPupdown\log"/>
    <!--********************************************************************-->
    <!--收文FTP-->
    <add key="ftpserver" value="172.24.15.22"/>
    <!--<add key="ftpserver" value="10.5.24.72"/>-->
    <add key="port" value=""/>
    <add key="username" value="numsuser"/>
    <add key="password" value="qscesz123"/>
    <!--<add key="username" value="Administrator"/>
    <add key="password" value="Y2ltc19zYTkyMQ=="/>-->

    <!--收文目錄-->
    <add key="ftpReceiveDir" value="/CSFS_ImportEDoc/"/>
    <add key="loaclReceiveFilePath" value="D:\Source\CSFS\CSFS-U\CTBC.WinExe.FTPupdown\Receive"/>

    
    <!--********************************************************************-->
    <!--發文FTP-->
    <add key="ftpserver2" value="172.24.15.22"/>
    <add key="port2" value=""/>
    <add key="username2" value="numsuser"/>
    <add key="password2" value="qscesz123"/>
    
    <!--發文目錄-->
    <add key="ftpSendDir" value="/CSFS_EDoc/"/>
    <add key="loaclSendFilePath" value="D:\Source\CSFS\CSFS-U\CTBC.WinExe.FTPupdown\SendDoc"/>

    
    <!--********************************************************************-->
    <add key="fileTypes" value="txt,di,pdf,sw"/>
  
    <!--電子收文附件目錄-->
    <add key="AttachFile" value="D:\test1\LocalFile\Attach"/>
  
  </appSettings>
</configuration>
