<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_UAT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!-- for SIT envirnment -->
    <add key="ServerUrl" value="172.24.17.42"/>
    <add key="ServerPort" value="17222"/>
    <add key="UserName" value="csfssit01"/>
    <add key="Password" value="csfssit0159"/>
    <add key="ServerPortStandBy" value="17222"/>
    <add key="ESBSendQueueName" value="CTCB.ESB.SIT.Public.Service.Request.C01.CH1"/>
    <add key="ESBReceiveQueueName" value="CTCB.ESB.SIT.Public.Service.Reply.CSFS"/>
    
    <add key="SourceID" value="CSFS"/>

    <!--測試用，客戶需改為0-->
    <add key="IsnotTest" value="0"/>
    
  </appSettings>
  
</configuration>
