<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>    
    <add name="CSFS_ADO" connectionString="Data Source=172.24.17.52,1803;Initial Catalog=CSFS_SIT;User ID=csfs_usr;Password=csfs_usr#1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="filelog" value=".\Log"/>
    <!--FTP設置-->
    <add key="ftpserver" value="172.24.15.19"/>
    <add key="ftpport" value="21"/>
    <add key="ftpusername" value="AP_CSFS_PUT"/>
    <add key="ftppassword" value="ge8wc8qi"/>
    <add key="ftpdir" value="/aptoap/CSFS/LAMS"/>
    <add key="LoaclFilePath" value="D:\File"/>

  </appSettings>
</configuration>
