<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <connectionStrings>
      <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <appSettings>
      <!--ErrorLog放置路徑-->
      <add key="fileLog" value=".\Log"/>

      <!--產出回文檔TXT放置路徑-->
      <add key="txtFilePath" value="D:\CSFS-U(電子支付)\Enforce\Enforce_send"/>

      <!--產出回文檔PDF放置路徑-->
      <add key="PDFFilePath" value="D:\CSFS-U(電子支付)\Enforce\Enforce_send"/>

      <!--本機的發文機關設定-->
      <add key="GovName" value="中國信託商業銀行股份有限公司"/>
      <add key="GovCode" value="EB03077208"/>
    </appSettings>  
</configuration>