<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <!--********************************************************************-->
    <add key="filelog" value=".\Log"/>

    <!--收文FTP鏈接配置-->
    <add key="reciveftpserver" value="172.24.15.19"/>
    <add key="reciveport" value="21"/>
    <add key="reciveusername" value="AP_CSFS_GET"/>
    <add key="recivepassword" value="px6yc8mf"/>

    <!--FTP存放AMT文檔目錄-->
    <add key="reciveftpdir" value="/aptoap/CSFS/ATMNO/"/>

    <!--存放AMT文檔本地目錄-->
    <add key="reciveloaclFilePath" value="\File"/>
    <add key="backupFilePath" value="\Backup"/>

    <!--收文最後接收時間點（00 ~ 23）-->
    <add key="NoReciveFileTime" value="11"/>

  </appSettings>

  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
