<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!--<section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />-->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTBC.CSFS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="CSFS TXT Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="D:\Temp\CSFS.log" footer="" formatter="TXT Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="1024"/>
      <add name="CSFS DB Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="CSFS_ADO" writeLogStoredProcName="sp_CSFSLogWriteLog" addCategoryStoredProcName="sp_CSFSLogAddCategory" formatter="DB Formatter" filter="Information"/>
      <add name="LogonLogout TXT Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="D:\Temp\LogonLogout.log" footer="" formatter="TXT Formatter" header="" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="1024"/>
      <add name="LogonLogout DB Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="CSFS_ADO" writeLogStoredProcName="sp_CSFSLogWriteLog" addCategoryStoredProcName="sp_CSFSLogAddCategory" formatter="DB Formatter"/>
      <add name="Exception TXT Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="D:\Temp\Exception.log" footer="" formatter="TXT Formatter" header="" rollInterval="Day" rollSizeKB="1024"/>
      <add name="Exception DB Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="CSFS_ADO" writeLogStoredProcName="sp_CSFSLogWriteLog" addCategoryStoredProcName="sp_CSFSLogAddCategory" formatter="DB Formatter"/>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="CTCB Pattern" formatter="Text Formatter" log="Application" machineName="." traceOutputOptions="None"/>
      <add name="Database Trace Listener 2" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="CSFS_ADO" writeLogStoredProcName="sp_CSFSLogWriteLog" addCategoryStoredProcName="SP_AddCategory" formatter="Text Formatter"/>
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="beishan.chou@ctbcbank.com;hunghsiang.chang@ctbcbank.com;horace.lin@ctbcbank.com" fromAddress="csfs@ctbcbank.com" subjectLineStarter="CSFS SIT Exception Report - 嚴重等級[" subjectLineEnder="] [系統自動發送,請勿回覆此封Mail]" smtpServer="10.23.84.180" formatter="TXT Formatter" filter="Critical"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local:yyyy-MM-dd HH:mm:ss)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local:yyyy-MM-dd HH:mm:ss)}|{category}|{title}|{message}|{dictionary({value}|)}{priority}|{eventid}|{severity}" name="TXT Formatter"/>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{dictionary({value}|)}" name="DB Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="CSFS">
        <listeners>
          <add name="CSFS DB Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="LogonLogout">
        <listeners>
          <add name="LogonLogout DB Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Exception">
        <listeners>
          <add name="Exception DB Trace Listener"/>
          <add name="Email Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener 2"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!--<exceptionHandling>
    <exceptionPolicies>
      <add name="LoggingPolicy"/>
    </exceptionPolicies>
  </exceptionHandling>-->
  <dataConfiguration defaultDatabase="CSFS_ADO"/>
  <connectionStrings>
    <!--<add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>-->
	  <add name="CSFS_ADO" connectionString="data source=.;initial catalog=CSFS_UAT;user id=sa;password=Adam520508;connection timeout = 600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CUF_CacheManagerName" value="CUF_CacheManager"/>
    <add key="CUF_UserRoleMode" value="C"/>
    <add key="CUF_LogLevel " value="3"/>
    <add key="CUF_Log_FuncEntryCategory" value="General"/>
    <add key="CUF_Log_FuncExitCategory" value="General"/>
    <add key="CUF_Log_FuncLocCategory" value="FuncLoc"/>
    <add key="CUF_Log_EntryEventID" value="101"/>
    <add key="CUF_Log_ExitEventID" value="102"/>
    <add key="CUF_Log_FuncEventID" value="103"/>
    <add key="CUF_DefaultExceptionPolicy " value="L"/>
    <add key="CUF_UserLogoutURL" value="/Login/_Redirect"/>
    <add key="RowsPerPage" value="500"/>
    <add key="CUF_AppName" value="CSFS"/>
    <!--<add key="CUF_AuthZDatabase" value="data source=10.5.24.125,53332\MSSQLSERVER2014;initial catalog=CSFS;user id=sa;password=csAdmin6522;"/>-->
    <add key="CUF_AuthZDatabase" value="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;"/>
    <add key="CUF_CompanyNum" value="CTCB"/>
    <add key="CUF_CultureName" value="zh-tw"/>
    <!--HTG Setting-->
    <!--UAT-->
    <add key="HTGUrl" value="http://192.168.38.139:80/WS_HG/HgXmlRequestHandler"/>
    <add key="HTGApplication" value="CSFS"/>
    <!--Enable Transaction Log-->
    <add key="TranLog" value="Y"/>
    <!--檔案匯出-->
    <add key="Export_Path" value="~/Upload/"/>
    <!-- LDAP 認證相關資訊-->
    <!-- UseLdapCheck 0-不檢查Ldap, 1-檢查Ldap -->
    <add key="UseLdapCheck" value="0"/>
    <add key="LDAPServerIP" value="192.168.31.40"/>
    <add key="LDAPServerPort" value="389"/>
    <add key="LDAPRootBaseDN" value="ou=HRIS,o=CTCB"/>
    <add key="LDAPServiceDN" value="ou=CSFS,ou=APPs,o=CTCB"/>
    <add key="LDAPServicePWD" value="CSFS0424"/>
    <add key="LDAPRoleCodeFile" value="CSFS_Role"/>
    <!--AAA設定者角色-->
    <add key="AAAMgr" value="CSFS001"/>
    <!--以下為預設-->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- ***** CSFS Config ***** -->
    <add key="UploadFolder" value="Uploads/"/>
    <!-- ***** ApLog 郵件服務器及發送端口號 ***** -->
    <add key="Mail_FromName" value="10.23.84.180"/>
    <add key="Mail_EmailPort" value="25"/>
    <!-- for SIT envirnment -->
    <add key="ServerUrl" value="172.24.17.42"/>
    <add key="ServerPort" value="17222"/>
    <add key="UserName" value="csfssit01"/>
    <add key="Password" value="csfssit0159"/>
    <add key="ServerPortStandBy" value="17222"/>
    <add key="ESBSendQueueName" value="CTCB.ESB.SIT.Public.Service.Request.C01.CH1"/>
    <add key="ESBReceiveQueueName" value="CTCB.ESB.SIT.Public.Service.Reply.CSFS"/>
    
    <!-- 上傳FTP參數 -->
    <add key="ftpserver" value="172.24.15.19"/>
    <add key="port" value=""/>
    <add key="username" value="AP_CSFS_PUT"/>
    <add key="password" value="ge8wc8qi"/>
    <add key="ftpdir" value="/aptoap/CSFS/EDoc"/>
    <add key="mailFrom" value="CSFS@ctbcbank.com"/>
    <add key="mailHost" value="10.23.85.157"/>

    <!--回文檔案存放路徑-->
    <add key="txtFilePath" value="D:\SIT\CTBC.CSFS_NEW\Enforce\Enforce_send"/>

    <!--來文txt路徑-->
    <add key="txtReciveFilePath" value="D:\SIT\CTBC.CSFS_NEW\Enforce\Enforce_recv"/>

    <!--回傳檔案內容的 Web Service URL-->
    <add key="ServiceURL" value="http://172.24.15.112:8080/CSFS.WebService.OpenFile/OpenFile.asmx"/>
	<!--檔案上傳大小上限 10485760=10MB -->
	<add key="UploadMaxLength" value="10485760"/>
	<!--警示聯防案件附件存檔目錄-->
	<add key="WarningAttachFile" value="D:\CTBC\CSFS\Project\CSFS-U\CTBC.CSFS" />
  </appSettings>
  <system.web>
    <compilation>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/_Redirect" timeout="720" defaultUrl="~/Home/Index"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpRuntime targetFramework="4.5.1" executionTimeout="600"/>
    <pages validateRequest="true">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="CTBC.CSFS.Resource"/>
        <add namespace="CTBC.FrameWork.Paging"/>
        <add namespace="CTBC.CSFS.ViewModels"/>
        <add namespace="CTBC.FrameWork.Util"/>
      </namespaces>
    </pages>
    <identity impersonate="false"/>
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="720" stateNetworkTimeout="350"/>-->
  </system.web>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="CTBC.CSFS.ViewModels"/>
        <add namespace="CTBC.FrameWork.Paging"/>
        <add namespace="CTBC.CSFS.Resource"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <location path="Login">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Content/Login.css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Content/img">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <applicationSettings>
    <CTBC.CSFS.Properties.Settings>
      <setting name="CTBC_CSFS_WebService_OpenStream_OpenFileStream"
        serializeAs="String">
        <value>http://localhost:35947/OpenFile.asmx</value>
      </setting>
      <setting name="CTBC_CSFS_CSFSURL_attDownload" serializeAs="String">
        <value>http://localhost:35947/attDownload.asmx</value>
      </setting>
    </CTBC.CSFS.Properties.Settings>
  </applicationSettings>
</configuration>