<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="Data Source=172.24.17.52,1803;Initial Catalog=CSFS_SIT;User ID=csfs_usr;Password=csfs_usr#1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="filelog" value="D:\Source\CSFS\CSFS-U(上版)\CTBC.WinExe.ImportEDocALL\Log\"/>
    <add key="ftpserver" value="172.24.15.19"/>
    <add key="port" value="21"/>
    <add key="username" value="AP_CSFS_GET"/>
    <add key="password" value="px6yc8mf"/>
    <add key="ftpdir" value="/aptoap/CSDA0001/CSFS"/>
    <add key="loaclFilePath" value="D:\Source\CSFS\CSFS-U(上版)\CTBC.WinExe.ImportEDocALL\File\"/>
    <add key="fileTypes" value="txt,di,pdf,sw"/>

    <add key="mailFrom" value="CSFS@ctbcbank.com" />
    <add key="mailHost" value="10.23.85.157" />
    <add key="isFtp" value="true"/>
  </appSettings>
</configuration>
