<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ftp" value="True"/><!-- 若是false 直接讀取loclFilePath的檔案, 若是True, 則先讀FTP-->
    <add key="importG01" value="true"/>    <!-- 若是false 不執行, 若是True, 才會匯入WarningG01-->
    <add key="importG20" value="true"/>    <!-- 若是false 不執行, 若是True, 才會匯入WarningG20-->
    <add key="importG36" value="true"/>    <!-- 若是false 不執行, 若是True, 才會匯入WarningG36-->
    <add key="importSUSMX" value="true"/>    <!-- 若是false 不執行, 若是True, 才會匯入WarningTX20480-->
    <add key="merge" value="true"/>    <!-- 若是false 不執行, 若是True, 進行合併-->
    
    <add key="filelog" value="D:\Source\CSFS\CSFS-U(上版)\CTBC.WinExe.ImportWarning\Log\"/>
    <add key="ftpserver" value="172.24.15.19"/>
    <add key="port" value="21"/>
    <add key="username" value="AP_CSFS_GET"/>
    <add key="password" value="px6yc8mf"/>
    <add key="ftpdir" value="/aptoap/CSFS/ATMNO"/>    
    <add key="loaclFilePath" value="D:\Source\CSFS\CSFS-U(上版)\CTBC.WinExe.ImportWarning\File\"/>
    <add key="fileTypes" value="txt"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="Data Source=172.24.17.52,1803;Initial Catalog=CSFS_SIT;User ID=csfs_usr;Password=csfs_usr#1" providerName="System.Data.SqlClient"/>
    <add name="NewsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connect timeout=600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
