<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803\MSSQLSERVER2014;initial catalog=CSFS_UAT;user id=csfs_usr;password=csfs_usr#1;" providerName="System.Data.SqlClient" />

    <add name="CSFS1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.17.52,1803\MSSQLSERVER2014;initial catalog=CSFS_UAT;persist security info=True;user id=csfs_usr;password=csfs_usr#1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- DepName是發email通知RM時, 所要帶的部門名稱 -->
    <add key="DepName" value="集中作業部"/>    
    <add key="Mail_FromName" value="10.23.84.180" />
    <add key="Mail_FromEmail" value="CSFS@ctbcbank.com" />
      
    <add key="Mail_EmailPort" value="25" />
    <add key="mailFrom" value="CSFS@ctbcbank.com" />
    <!--<add key="mailTo" value="joanna.pan@ctbcbank.com,shinyu.yang@ctbcbank.com" />-->
    <add key="mailTo" value="hunghsiang.chang@ctbcbank.com" />
    <add key="mailHost" value="10.23.85.157" />

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>