<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <connectionStrings>
      <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="OutputDir" value="D:\CSFS-U\CTBC.WinExe.WarningQuerySetting\bin\Debug\File\"/>
  </appSettings>
</configuration>