<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--HTG Setting-->
    <!-- 以下是HGT的參數, ldap & racf 的帳戶密碼, 未來要改成讀參數檔-->
    <add key="HTGUrl" value="http://192.168.38.139:80/WS_HG/HgXmlRequestHandler" />
    <add key="HTGApplication" value="CSFS" />
    <add key="Mail_FromName" value="10.23.84.180" />
    <add key="Mail_EmailPort" value="25" />
    <add key="mailFrom" value="CSFS@ctbcbank.com" />
    <!--測試用，客戶需改為0-->
    <add key="IsnotTest" value="0"/>
    <add key="racfPassword" value="5tgb5tgb"/>
  </appSettings>
</configuration>