
<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
            <table id="query_table" class="table table-bordered table-striped text-black sort">
                <thead>
                <tr class="alert-success text-center ">
                    <th class="col-xs-3" rowspan="2" colspan="2">收費分類</th>
                    <th class="col-xs-7" rowspan="2">收費標準</th>
                    <th class="col-xs-2" colspan="2">收費明細</th>
                </tr>
                <tr class="alert-success text-center ">
                    <th class="col-xs-1">數量</th>
                    <th class="col-xs-1">金額</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td rowspan="3">單筆查詢</td>
                    <td>電腦列印資料</td>
                    <td>每一客戶100元</td>
                    <td><input type="text"/></td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>紙本資料</td>
                    <td>每一客戶500元</td>
                    <td><input type="text"/></td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>解繳客戶扣押款等財產</td>
                    <td>每一客戶250元</td>
                    <td><input type="text"/></td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td rowspan="6">批次查詢</td>
                    <td rowspan="4">有備磁片</td>
                    <td>999戶以內，每批次300元</td>
                    <td><input type="text"/></td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>1000戶至4999戶，每批次800元</td>
                    <td><input type="text"/></td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>5000戶至9999戶，每批次1,200元</td>
                    <td><input type="text"/></td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>10000戶以上，每批次1,700元</td>
                    <td><input type="text"/></td>
                    <td><input type="text"/></td>
                </tr>

                <tr>
                    <td>未備磁片人工登打</td>
                    <td>每一客戶10元</td>
                    <td><input type="text"/></td>
                    <td><input type="text"/></td>
                </tr>
                <tr>
                    <td>資訊人員程式設計</td>
                    <td>依不同查詢格式進行程式開發人日評估，單一開發人日成本為7,000(每1小時875)</td>
                    <td><input type="text"/></td>
                    <td><input type="text"/></td>
                </tr>
                    <tr class="no-border">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>合計</td>
                        <td><input type="text" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer text-center">
            <button id="btnAccountSave" type="button" class="btn btn-primary btn-xs">@Lang.csfs_save</button>
            <button id="btnAccountCancel" type="reset" class="btn btn-default btn-xs">@Lang.csfs_cancel</button>
        </div>
    </div>
</div>