<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="D:\CTBC.CSFS.Batch\CTBC.WinSerivce.CSFS.Batch\Logs"/>

    <!-- Interval = (n)mins -->
    <add key="ActiveTime" value="5"/>

    <!-- Interval = (n)mins -->
    <!-- 上下載 MFPT檔案 -->
    <add key="FTPdown.Filename" value="D:\CTBC.CSFS.Batch\CTBC.WinExe.CSFS.FTPdown\CTBC.WinExe.CSFS.FTPdown.exe"/>

    <!-- 發查 HTG -->
    <add key="HTG.Filename" value="D:\CTBC.CSFS.Batch\CTBC.WinExe.CSFS.HTG\CTBC.WinExe.CSFS.HTG.exe"/>

    <!-- 發查 RFDM -->
    <add key="RFDMPut.Filename" value="D:\CTBC.CSFS.Batch\CTBC.WinExe.CSFS.ESB\CTBC.WinExe.CSFS.ESB.exe"/>

    <!-- 取得 RFDM檔案，並匯入到資料庫 -->
    <add key="RFDMGet.Filename" value="D:\CTBC.CSFS.Batch\CTBC.WinExe.CSFS.resolvingRFDM\CTBC.WinExe.CSFS.resolvingRFDM.exe"/>

    <!-- 產生回函與回文檔案，並更新案件狀態 -->
    <add key="ReturnFile.Filename" value="D:\CTBC.CSFS.Batch\CTBC.WinExe.CSFS.ReturnFile\CTBC.WinExe.CSFS.ReturnFile.exe"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>