@{
    //Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";    
}
@model dynamic
<h2>@Lang.csfs_welcome_msg1</h2>
<p>
    @Lang.csfs_more_about<a href="http://www.chinatrust.com.tw" title="@Lang.csfs_ctcb">http://www.chinatrust.com.tw</a>。
</p>