<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LDAPServer" value="192.168.31.40"/>
    <add key="LDAPPort" value="389"/>
    <add key="LDAPRoot" value="ou=U00021931,ou=U00021800,ou=HRIS,o=CTCB"/>
    <add key="APDN" value="ou=CSFS,ou=APPs,o=CTCB"/>
    <add key="APID" value="CSFS"/>
    <add key="APPwd" value="CSFS0424"/>
    <add key="CheckRoleLength" value="Y"/>
    <add key="RoleLength" value="7"/>
    <add key="SearchFilter" value="cn=*"/>
    <add key="CSVPath" value="D:\CTBC.CSFS.Batch\LDAPDataImport\csv\"/><!--D:\CTCB.NUMS.Batch\LDAPSync\CSV\-->
    <add key="LogPath" value="D:\CTBC.CSFS.Batch\LDAPDataImport\log\"/>
    <add key="MailFromDisplayName" value="中國信託新外來文系統SIT"/>
    <add key="MailFrom" value="csfs@ctbcbank.com"/>
    <add key="MailSubject" value="LDAP同步批次執行狀況-UAT"/>
    <add key="MailToWho" value="horace.lin@ctbcbank.com"/>
    <add key="SMTPServer" value="10.23.85.157"/>
  </appSettings>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="Data Source=172.24.17.52,1803;Initial Catalog=CSFS_SIT;User ID=csfs_usr;Password=csfs_usr#1" providerName="System.Data.SqlClient"/>
  </connectionStrings> 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
