<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
  <!--********************************************************************-->
  <add key="filelog" value=".\Log"/>

  <!--FTP鏈接配置-->
  <add key="reciveftpserver" value="172.24.44.47"/>
  <add key="reciveport" value="21"/>
  <add key="reciveusername" value="ap_csfs"/>
  <add key="recivepassword" value="h6gr2kp9"/>
    <!-- 存放保管箱的路徑-->
  <add key="reciveftpdir" value="/bancs"/>
  <add key="isFtp" value="False"/>
  <!--是否從FTP抓, 若False, 代表直接從File目錄抓, 跳過FTP抓取環節... -->

    <!--存放AMT文檔本地目錄-->
    <add key="reciveloaclFilePath" value="File"/>
    <add key="updateFilePath" value="Upload"/>
    <add key="backupFilePath" value="Backup"/>

    <!--收文最後接收時間點（00 ~ 23）-->
    <add key="NoReciveFileTime" value="18"/>


  </appSettings>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>