<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="Data Source=172.24.15.26,1803;Initial Catalog=CSFSU;User ID=numssusr;Password= xxxxxx" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--發送Email設定-->
    <add key="MailFromDisplayName" value="新徵審系統"/>
    <!--必填-->
    <add key="MailFrom" value="nums@ctbcbank.com"/>
    <add key="MailSubject" value="CSFS UAT Exception Report - 嚴重等級[ Critical] [系統自動發送,請勿回覆此封Mail]"/>
    <!--至少需填一位收件者email,用逗號隔開,最後一位收件者結尾不加逗號-->
    <add key="MailToWho" value="horace.lin@ctbcbank.com"/>
    <add key="SMTPServer" value="10.23.85.157"/>
    <add key="LogFile" value="D:\CTBC.CSFS.Log\Logs\ServiceWebLog.log"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
