<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ServiceConfigUrl" value="http://172.24.0.222/CTCB.NUMS.Services.Config/ServicesConfig.svc" />-->
    <add key="txtUrl" value="APLOG" />
    <add key="BackUpUrl" value="APLOG\BackUp"/>
    <add key="LogUrl" value="D:\CTBC.CSFS.Batch\CTCB.CSFS.APLOG\APLog" />
    <add key="UseFTP" value="1" />

    <!--1=使用FTP,0=不使用FTP-->
    <add key="FtpUser" value="AP_CSFS_PUT" />
    <add key="FtpPwd" value="ge8wc8qi" />
    <add key="FtpHost" value="172.24.15.19" />
	
	 <!--for MFTP 新增上傳路徑。-->
	<add key="ftpSendDir" value="/aptoap/csfs/siem01"/>
  </appSettings>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="Data Source=172.24.17.52,1803;Initial Catalog=CSFS_SIT;User ID=csfs_usr;Password=csfs_usr#1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
