<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <connectionStrings>
    <!--<add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>-->
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient"/>
    <!-- <add name="CSFS_ADO" connectionString="data source=.;initial catalog=CSFS;user id=sa;password=Adam520508;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!--HTG Setting-->
    <!--UAT-->
    <add key="HTGUrl" value="http://192.168.38.136:80/WS_HG/HgXmlRequestHandler"/>
    <add key="HTGApplication" value="CSFS"/>

    <!--測試用，客戶需改為0-->
    <add key="IsnotTest" value="0"/>
  </appSettings>

</configuration>
