<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="CSFS_ADO" connectionString="data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;" providerName="System.Data.SqlClient" />
    <add name="GssEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.24.17.52,1803;initial catalog=CSFS_SIT;user id=csfs_usr;password=csfs_usr#1;connection timeout = 600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="filelog" value=".\Log" />
    <!--********************************************************************-->
    <!--收文FTP-->
    <add key="ftp" value="true" />
    <add key="reciveftpserver" value="172.24.15.19" />
    <add key="reciveport" value="21" />
    <add key="reciveusername" value="AP_CSFS_GET" />
    <add key="recivepassword" value="px6yc8mf" />
    <!--收文目錄-->
    <add key="reciveftpdir" value="/aptoap/CSDA0001/CSFS/case2/" />
    <add key="reciveloaclFilePath" value="D:\Source\CSFS\Enforce\Enforce_recv" />
    <!--發文FTP-->
    <add key="sendftpserver" value="172.24.15.19" />
    <add key="sendport" value="21" />
    <add key="sendusername" value="AP_CSFS_PUT" />
    <add key="sendpassword" value="ge8wc8qi" />
    <!--發文目錄-->
    <add key="sendftpdir" value="/aptoap/CSFS/Enforce_send/" />
    <add key="sendloaclFilePath" value="D:\Source\CSFS\visualsoft\CSFS-U\CTBC.CSFS.Files\Enforce_send" />
    <add key="batchfilename" value="Batch-metadata.json" />
    <add key="metafilename" value="metadata.json" />
    <add key="deleteZipDay" value="" />    <!-- 當場砍掉 -->
    <add key="deleteDirDay" value="" />    <!-- 留七天--> 
    <!--mail 設定-->
    <add key="mailFrom" value="CSFS@ctbcbank.com" />
    <add key="mailHost" value="10.23.85.157" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>